.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 99999999999;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.3),   /* Top-left */
    inset -10px -10px 20px rgba(0, 0, 0, 0.3),  /* Bottom-right */
    inset 10px -10px 20px rgba(0, 0, 0, 0.3),   /* Bottom-left */
    inset -10px 10px 20px rgba(0, 0, 0, 0.3);   /* Top-right */
    background-color: #abacac;
    transition: var(--animation-primary);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px); /* For Safari support */
        z-index: -1; /* Keeps it behind the content */
    }
    d
    img {
        position: relative;
        z-index: 9999;
        object-fit: cover;
        padding-right: 3vw;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: var(--animation-primary);
    }

    input {
        border-radius: 2rem;
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        background-color: #c7c7c7;
        border: var(--border);
        transition: var(--animation-primary);

        &:focus {
            outline: 1px solid #929292;
            transition: var(--animation-primary);
        }
    }

    button {
        background-color: transparent;
        transition: var(--animation-primary);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 50%;
    margin: 0 auto;
    gap: 2rem;
    transition: var(--animation-primary);
}