// Breakpoints
$breakpoints: (
    small: 555px,
    medium: 777px,
    large: 992px,
    xlarge: 1200px
);

// Mixins
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin full-width {
    width: 100%;
}

@mixin responsive-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

// Variables
$default-gap: 1rem;
$large-gap: 2rem;
$text-max-width: 65%;
$text-max-width-small: 90%;

// Styles
.wonder {
    @include flex-column;
    @include center-content;
    @include full-width;
    height: 100%;
    position: relative;
    z-index: 99;
}

.mainImg {
    @include full-width;
    height: 100vh;

    video {
        @include full-width;
        height: 100%;
        object-fit: cover;
    }
}


.centered {
    @include flex-column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    gap: $large-gap;
    text-align: center;

    @include respond-to(medium) {
        max-width: 70%;
    }

    @include respond-to(small) {
        max-width: 95%;
        gap: $default-gap;
    }

    h2, p, ol {
        width: 100%;
        max-width: $text-max-width;
        margin: 0 auto;
 
        
    }

    ol {
        li {
            width: 100%;
            text-align: left;
            font-size: 1.5rem;
            color: var(--subtitle-color);
            @include respond-to(small) {
                font-size: 1.3rem !important;
            }
            
        }
    }

    h2 {
        color: var(--title2-color) !important;
        text-align: left;
        padding-left: 5%;
        font-size: 1.5rem;
        @include respond-to(small) {
            max-width: $text-max-width-small;
            font-size: 1.3rem !important;
        }
    }

    p {
        font-family: var(--body-font);
        color: #ad8e8c;
        text-align: left;
        font-weight: 400;
        font-size: 1.5rem;
        @include respond-to(small) {
            max-width: $text-max-width-small;
            font-size: 1.3rem !important;
        }
    }
}

.left {
    @include flex-column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh;
    position: relative;

    @include respond-to(small) {
        height: 100%;
        gap: $default-gap;
    }

    p {
        max-width: $text-max-width;
        text-align: justify;
        color: var(--background-color);
        font-family: var(--body-font);

        @include respond-to(medium) {
            max-width: 80%;
        }

        @include respond-to(small) {
            max-width: $text-max-width-small;
        }
    }
}

.farLeft {
    @include flex-column;
    @include full-width;
    align-items: flex-start;

    .img {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        height: 100%;

        @include respond-to(small) {
            width: 100%;
        }

        img {
            @include responsive-image;
        }
    }
}

.lower {
    @include flex-column;
    @include center-content;
    @include full-width;
    position: relative;
    gap: 3rem;

    @include respond-to(small) {
        min-height: unset;
        height: 100%;
    }
}

.smallImg {
    @include center-content;
    @include full-width;
    height: 100%;

    @include respond-to(small) {
        height: 100%;
        padding: 0;
    }

    img {
        width: 55vw;
        height: 55vh;
        object-fit: contain;

        @include respond-to(small) {
            @include responsive-image;
        }
    }
}

.bottomP {
    display: flex;
    @include full-width;
    justify-content: flex-end;
    padding: 0rem 5vw 0vh 2rem;
    position: relative;
    color: var(--background-color);

    @include respond-to(small) {
        padding: 0;
    }

    p {
        max-width: $text-max-width;

        @include respond-to(medium) {
            max-width: 80%;
        }

        @include respond-to(small) {
            position: relative;
            right: 0;
            bottom: 0;
            padding: $default-gap 0;
            max-width: 95%;
            text-align: left;
        }
    }
}

.rightPP {
    @include full-width;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;

    @include respond-to(small) {
        padding-right: 0;
        justify-content: center;
        width: 100%;
        max-width: $text-max-width-small;

    }
}


.leftImage {
    @include full-width;
    position: relative;

    img {
        width: 50%;
        height: 100%;
        object-fit: contain !important;

        @include respond-to(medium) {
            width: 40vh;
        }

        @include respond-to(small) {
            @include responsive-image;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    width: 100%;
    height: 100%;

    @include respond-to(medium) {
        gap: 15vh;
    }
    @include respond-to(small) {
        gap: 10vh;
    }
}

.lowerRight {
    @include flex-column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    gap: $default-gap;
    height: fit-content;
    @include full-width;

    @include respond-to(medium) {
        align-items: center;
    }

    .column {
        @include flex-column;
        align-items: flex-start;
        text-align: left;
        width: 45%;
        padding-right: 5vw;

        @include respond-to(medium) {
            width: 65%;
        }

        @include respond-to(small) {
            width: 100%;
            padding-right: 0;
        }
    }

    @include respond-to(small) {
        position: relative;
        right: 0;
        bottom: 0;
        padding: $default-gap;
        max-width: 100%;
    }

    p {
        font-family: var(--body-font);
        color: var(--title-color);
        text-align: left;
        max-width: $text-max-width;

        @include respond-to(small) {
            max-width: $text-max-width-small;
        }
    }
}

.bottom {
    @include flex-column;
    @include center-content;
    @include full-width;
    position: relative;
    gap: 2rem;

    @include respond-to(small) {
        min-height: auto;
        height: 100%;
        padding: 0;
    }

    p {
        @include full-width;
        max-width: $text-max-width;
        text-align: justify;
        color: var(--title-color);

        @include respond-to(medium) {
            max-width: 80%;
        }

        @include respond-to(small) {
            max-width: $text-max-width-small;
            text-align: left;
        }
    }
}

.bottomImg {
    display: flex;
    @include full-width;
    justify-content: flex-end;

    @include respond-to(small) {
        justify-content: center;
        padding-bottom: 0;
    }

    img {
        width: 70vw;
        height: 45vh;
        object-fit: cover;

        @include respond-to(medium) {
            width: 40vh;
        }

        @include respond-to(small) {
            @include responsive-image;
        }
    }
}

.videoImg {
    @include center-content;
    @include full-width;
    height: 100%;
    position: relative !important;
    z-index: 99999999999 !important;

    @include respond-to(small) {
        height: 100%;
        top: 0;
    }

    video {
        width: 85vw;
        height: 85vh;
        object-fit: contain;

        @include respond-to(small) {
            @include full-width;
            height: 100%;
        }
    }
}

.bottom2 {
    @include flex-column;
    justify-content: center;
    @include full-width;
    position: relative;

    @include respond-to(small) {
        height: 100%;
        justify-content: center;
        gap: 2rem;
        padding: 0;
    }
}

.veryBottomImg {
    height: 80vh;
    position: relative;

    @include respond-to(small) {
        @include full-width;
        height: 100%;
    }

    img {
        width: 70vw;
        height: 100%;
        object-fit: cover;

        @include respond-to(medium) {
            width: 75%;
        }

        @include respond-to(small) {
            @include responsive-image;
        }
    }
}

.list {
    @include flex-column;
    align-items: flex-end;
    justify-content: center;
    @include full-width;
    max-width: 100%;
    gap: $large-gap;  
    padding-right: 10vw;

    h2, p, ol {
        max-width: 38.5%;

        @include respond-to(medium) {
            max-width: 70%;
        }

        @include respond-to(small) {
            max-width: $text-max-width-small;
        }
    }

    h2 {
        color: var(--title2-color);
        @include full-width;
        font-size: 1.3rem !important;
        padding-left: 5%;

        @include respond-to(small) {
            font-size: 1rem !important;
        }
    }

    p {
        font-size: 1.5rem !important;
        padding: 0;
        @include full-width;
        color: #c5a19e;

        @include respond-to(small) {
            font-size: 1.3rem !important;
        }
        
    }

    ol {
        padding-left: $default-gap;
        @include full-width;
        @include flex-column;
        gap: 0.5rem;
        font-family: var(--body-font);

        li {
            @include full-width;
            text-align: left;
            color: #c5a19e;
            font-size: 1.5rem !important;

        }
    }
}

@mixin dark-shared {

    h2 {
        color: var(--title-color);
        font-size: 1.3rem;
        @include respond-to(small) {
            max-width: $text-max-width-small;
            font-size: 1rem !important;
        }
    }

    p {
        color: var(--subtitle-color) !important;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--body-font);
    }
}

.dark {
    @include dark-shared;
}

.darkRight {
    @include flex-column;
    align-items: flex-end !important;
    width: 100%;
    max-width: 100%;
    align-self: flex-end;
    align-content: flex-end;
    

    @include respond-to(small) {
        padding: 5vh 0;
    }

    h2, p {
        text-align: left !important;
        // max-width: $text-max-width;
    }

    h2 {
        font-size: 1.1rem;
    }
}

.topP {
    padding-top: 20vh;

    @include respond-to(medium) {
        padding-top: 15vh;
    }

    @include respond-to(small) {
        padding-top: 10vh;
    }

}

.finalBottom {
    padding-bottom: 20vh;

    @include respond-to(medium) {
        padding-bottom: 15vh;
    }
    
    @include respond-to(small) {
        padding-bottom: 10vh;
    }
}

.dynamic {
    @include respond-to(small) {
        h2 {
            color: var(--title-color) !important;
        }

        p {
            color: var(--subtitle-color) !important;
        }
    }
}


.firstH1 {
    font-size: 1.5rem;
    @include respond-to(small) {
        max-width: $text-max-width-small;
        font-size: 1.3rem !important;
    }
}

.differentColor {
    h2 {
        color: #9d8e85 !important;
    }
}