:root {
  --background-color: #fafafa;
  --header-font: var(--font-youth);
  --body-font: var(--font-satoshi-variable);
  --small-font-size: 0.8rem;
  --normal-font-size: 1rem;
  --body-font-size: 1.236rem;
  --medium-font-size: 1.318rem;
  --big-font-size: 1.618rem;
  --semi-big-font-size: 2rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;
  --header-font-size: 5.618rem;
  --navigation-font-size: 6.618rem;

  
  --body-font-weight: 400;
  --subtitle-font-weight: 100;
  --medium-font-weight: 500;
  --title-font-weight: 700;
  --heavy-font-weight: 900;
  --semi-bold-font-weight: 600;
  --gfs: 14.4;
  --gfs-1: 16.2;
  --title-size: clamp(5em, 7.5vw, 7.5em);
  --semi-title-size: clamp(3em, 5vw, 5em);
  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
  --accent-color: #ff4b26;
  --title-color: #242322;
  --title2-color: #e4e5e6;
  --subtitle-color: #a7a7a7;
  --border-color: #eae4d8;

}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}


h1,
.title {
  font-family: var(--haeder-font);
  font-weight: var(--title-font-weight);
}

h2 {
  font-family: var(--haeder-font);
  font-weight: var(--title-font-weight);
}

h3,
.medium {
  font-family: var(--haeder-font);
  font-weight: var(--medium-font-weight);
}

h4,
.heavy {
  font-family: var(--haeder-font);
  font-weight: var(--heavy-font-weight);
}

h5,
.semi-bold {
  font-family: var(--font-family);
  font-weight: var(--semi-bold-font-weight);
}

p,
span {
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: var(--title-color);
}